h1{
    border: 2px dashed silver;
    color: blue;
    text-align: center;
    
}
p{
    color: black;
    border-radius: 5px ;
    border: 2px dashed rgb(250, 226, 226);

}
div{
    justify-content: center;
    position: fixed;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: 1px solid red;
    background-color: rgb(250, 226, 226);
}