@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
*  {
  box-sizing: border-box;
}
body {
  margin: 0%;
}
/* header{
    background-image: url(./img/image.png);
    align-items: center;
    background-color: white;
    margin: 0%; 
    justify-content: space-between;
}
.header {
left: 0%;
right: 0%;
top: 0%;
bottom: 87.5%;
display: flex;
justify-content: space-between;    
   
    
     
}
.header__inner {

display: flex;
justify-content: space-between;
align-items: center;
top: 0%;

}
.header__logo {
    text-transform: uppercase;
    color: #fff;
    justify-content: space-between;
} */

.nav .ul .li .a {
  display: flex;
  padding: 40px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  
}
.li .a {
  transition: 0.5s;
}
.list {
  margin-left: 650px;
}
.ul:hover .li .a {
  filter: blur(1px);
}
.ul:hover .li .a:hover {
  font-size: 30px;
  filter: blur(0px);
  background-color: rgb(139, 42, 195);
  padding: 10px 35px 10px 35px;
}
.close,
.fas.fa-bars {
  display: none;
}
#responsive-menu {
  position: absolute;
  visibility: hidden;
  z-index: -9999;
}
.fas.fa-times:hover {
  background-color: red;
}
.fas.fa-bars:hover {
  background-color: rgb(81, 38, 121);
}
#responsive-menu:checked ~ .ul {
  right: 0px;
}
header {
  background-image: url(./img/back2.png);
  margin: 0%;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
  margin: 40px;
  margin: 0%;
  margin-right: 20px;
 
}
.relap {
  font-weight: 700;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}
.button1 {
  font-family: Source Sans Pro;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  background: none;
  color: white;
  border-radius: 24px;
  border: solid 1px rgba(255, 255, 255, 0.295063);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  
}

.aside1 {
  color: white;
   margin: 5px 10% 5px 10%;
  padding-bottom: 15%;
} 
.aside1 p {
  max-width: 400px;
  color: white;
  font-size: 16px;
  font-weight: 600px;
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 1%;
}
.aside1 h1 {
  max-width: 100px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.button2 {
  border-radius: 24px;
  background: #ffc300;
  text-align: center;
  padding: 13px 55px 13px 55px;
  border: #ffc300 1px solid;
  font-weight: bold;
  color: white;
  font-size: 16px;
  margin-right: 2%;
}
.button2:hover {
  border: #447dd8 3px solid;
  text-decoration: underline #447dd8 2px;
}
.img {
  justify-content: flex-end;
}
main {
  background-color: white;
  margin: 5px 10% 5px 10%;
  
}
.img2 {
  max-width: 550px;
  float: right;
}

main h5 {
  max-width: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
main h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  max-width: 600px;
  color: #333333;
}
main p {
  max-width: 500px;
  color: #5c5252;
  margin-left: 0%;
  padding-top: 10px;
}
span {
  border-bottom: solid 6px #c86dd7;
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  font-family: Source Sans Pro;
  color: #333333;
}
.span {
  margin-left: 0%;
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  font-family: Source Sans Pro;
  color: #1b1919;
}
section {
  background-color: #fdf2ff;
  margin: 5px 10% 5px 10%;
  margin: 0%;
}
section h2,
p {
  margin: 5px 25px 5px 25px;
  display: flex;
}
section h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 64px;
  color: #333333;
  max-width: 500px;
}
section p {
  max-width: 550px;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: flex-end;
  margin: 5px 25px 5px 25px;
}
.span2{
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  font-family: Source Sans Pro;
  color: #1b1919;
  margin-left: 9%;
}

.block{
  display: flex;
  max-width: 2000px;
  max-height: 200px;
  margin-left: 7%;

}

.nav2 .ul2 li a {
  display: flex;
  padding: 13px;
  font-size: 18px;
  color: silver;
  text-decoration: none;  
  margin-left: 80%;

}
.nav2 .ul2 .li-2 .a-2 {
  color: #333333;
}
.post-item2{
  display: inline-block;
  margin: 0% auto;
 display: flex;
  margin: 5px 7% 5px 7%;
}
.post-item {
  display: inline-block;
  padding: 7px;
}
.button3 {
  background-color: #c86dd7;
  border-radius: 24px;
  padding: 10px 45px 10px 45px;
  border: 1px solid #c86dd7;
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: 45%;
  margin-bottom: 40px;
}

/* .head {
   max-width: 550px; 
  margin: 0 auto;
} */
.div-parag h2 {
  color: #333333;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
}
 .div-parag p {
  color: #333333;
  font-family: "Source Sans Pro";
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  max-width: 450px;

}

.block-item {
  display: inline-block;
  width: 25%;
  margin: 3%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 800px;
  padding: 20px 18px 20px 18px;
  border: 2px solid white;
}
.block-list {
  display: inline-block;
  max-width: 800px;
}
div.block-parag {
  max-width: 700px;
}
.block-item .block-list .block-parag {
  max-width: 800px;
}
.block-item2 {
  border: solid 1px white;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
}
figure {
  background-image: url(./img/back.png);
  margin: 0%;
  padding: 10%;
}
picture {
  border-radius: 50px;
}
figure h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding-left:6%; 
}
figure h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  max-width: 200px;
  font-family: "Poppins", sans-serif;
  padding-left:6%; 


}
figure p {
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  max-width: 500px;
  margin-left: 50%;
}
.button4 {
  background: #ffc300;
  border-radius: 24px;
  padding: 10px 45px 10px 45px;
  border: solid 1px #ffc300;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-left: 50%;

}
figure h5 {
  margin-left: 43%;
}
figure h2 {
  margin-left: 43%;
}
.section3 {
  background-color: #ffffff;
  margin: 0%;
  margin-bottom: 40px;
}
.section3 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin: 0% auto;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  color: #333333;
}
 .section3 p {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  max-width: 600px;
  margin-left: 25%;
}
.section3 .aside2 {
  border: solid 1px silver;
  margin: 20px;
  max-width: 1000px;
  max-height: 400px;
  box-shadow: 1px 1px 13px 0 rgba(0, 0, 0, 0.6);
}
  .section3 .div-block{  
  display: flex;
  max-width: 990px;
  max-height: 550px;
  padding-bottom: 10px;
  
}
.aside2 h3 {
  font-size: 16px;
  padding-top: 20px;
  margin-left: 10%;
  font-weight: bold;
  line-height: 60px;
  color: #333333;
}
.aside2 p{
  margin-left: 10%;
  max-width: 400px;
}
.main2 p {
  max-width: 300px;
  padding-bottom: 10px;
  margin-left: 80%;
}
.aside2 img {
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.article2 {
  background-color: #fdf2ff;
}
.article2 h5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #333333;
  margin: 5px 10% 5px 10%;
  padding-top: 40px;
}
.article2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: #333333;
  max-width: 500px;
  margin: 5px 10% 5px 10%;
  padding-top: 25px;
}
.article2 p {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  color: #333333;
  max-width: 500px;
  padding-top: 25px;
  margin: 5px 10% 5px 10%;
}
.article2 img {
  padding-right: 10%;
  width: 470px;
  height: 400px;
  top: 4720px;
  left: 735px;
  float: right;
  padding-top: 40px;
}
.div-block{
  margin-left: 10%;
}
.button5 {
  background: #c86dd7;
  border-radius: 24px;
  padding: 10px 45px 10px 45px;
  border: 1px solid #c86dd7;
  font-size: 16px;
  color: #fff;
  margin: 5px 10% 5px 10%;
  margin-bottom: 10%;
}
footer {
  background-image: url(./img/image24.png);
  margin: 0%;
}
footer h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  color: #333333;
}
footer p {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  color: #333333;
}
.button6 {
  background: #c86dd7;
  border-radius: 24px;
  padding: 10px 45px 10px 45px;
  border: 1px solid #c86dd7;
  font-size: 16px;
  color: #fff;
  margin-left: 60%;
  margin-top: 10px;
  margin-bottom: 10%;
}
hr {
  background: #000000;
  mix-blend-mode: normal;
}
fieldset {
  max-width: 50px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 3px;
  margin-left: 70%;
  padding: 10px 15px 10px 15px;
}
table {
  margin: 20px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
#example1 {
  margin-right: 50px;
  margin-top: 10px;
}

td {
  padding: 6px 80px 6px 80px;
}
/* Main
======================== */

@media (max-width: 480px) {
  .img2 {
    max-width: 200px;
    padding-left: 30%;
  }
  .section3 .aside2{
    flex-direction: column;
  }
  aside {
    margin-right: 10%;
  }
  main{
    flex-direction: column;
  }
  fieldset {
    margin-left: 50px;
  }
  .button1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 680px) {
  ul {
    flex-direction: column;
  }
  .post-item2{
    flex-direction: column;
  }
  figure p{
    margin-left: 10%;
    padding-left:10px ;
  }
  .post-item {
    flex-direction: column;
  }
  .div-parag{
    flex-direction: column;
  }
  .button3 {
    margin-left: 20%;
  }
  .example3 .aside2 {
    flex-direction: column;
    max-width: 450px;
    max-height: 200px;
  }
  main{
    flex-direction: column;
  }
  td {
    flex-direction: column;
    padding: 6px 20px 6px 20px;
  }
  fieldset {
    margin-left: 10px;
  }
  .img2 {
    max-width: 450px;
    padding-left: 30%;
  }
  .post {
    flex-direction: column;
  }
  .nav .ul {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
    flex-direction: column;
    padding-top: 0px;
    box-sizing: border-box;
    transition: 200ms;
  }
  .nav .ul .li {
    margin: 10px 0;
    font-size: 20px;
  }
  .close {
    display: block;
  }
  .fas.fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .fas.fa-bars {
    display: block;
    color: #fff;
    right: 10px;
    top: 10px;
    margin-left: 15px;
  }
  .button1 {
    padding: 5px 25px 5px 25px;
    margin: 0;
  }
  .head {
    padding-top: 5%;
  }
  .button6 {
    margin: auto;
  }
  section p {
    min-width: 260px;
    max-width: 500px;
  }
  figure h2 {
    margin-left: 10px;
    align-items: center;
  }
  .img-round {
    display: flex;
  }
  figure h2 {
    flex-direction: column;
  }
  .block {
    max-width: 90px;
    flex-direction: column;
  }
  
  .ul2{
    margin-right: 88%;
    margin-top: 40%;
    margin-bottom: 10%;
    display: flex;
    padding: 5px;
  }
  .block-item{
    width: 30%;
  }
  .div-block{
    flex-direction: column;
  }
}
